<header class="header-wrapper">
  <div class="header-container">
    <a class="header-icon" href="/"> 커뮤니티 </a>
    <div class="header-search">
      <img src="../../assets/images/search.svg" />
      <input type="text" id="search" name="search" placeholder="검색하기..." minlength="1" />
    </div>
    <div class="header-actions">
      <a class="header-profile" href="../../my.html">
        <span class="header-profile-image"></span>
      </a>
    </div>
  </div>
</header>
<hr class="header-divider" />
