.header-wrapper {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.header-container {
  height: 64px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.header-icon {
  color: rgb(50, 62, 69);
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
}

.header-search {
  width: 45%;
  display: flex;
  gap: 8px;
  padding: 6px 10px;
  background-color: #fbfdff;
  border: 1px solid rgb(217, 221, 227);
  border-radius: 12px;

  img {
    width: 18px;
  }

  input {
    margin-top: 2px;
    border: none;
    background-color: transparent;
  }

  input:focus {
    outline: none;
    border: none;
  }
}

.header-actions {
  position: relative;
  align-items: center;
  gap: 8px;
}

.header-profile {
  width: 100%;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #111;
  display: block;
}

.header-divider {
  top: 64px;
  left: 0;
  right: 0;
  border: none;
  border-top: 1px solid rgb(217, 221, 227);
  margin: 0;
  z-index: 10;
}
