.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 52px 0;
  padding-bottom: 24px;
  gap: 16px;
}

.title {
  margin: 0 0 24px;
  font-size: 28px;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profileImage {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: var(--bg-surface);
  display: grid;
  place-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.avatar::after {
  content: "+";
  font-weight: 300;
  font-size: 48px;
  color: var(--text-main);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 32px;
  border: 1px solid var(--outline);
  border-radius: 12px;
  background-color: var(--bg-surface);
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 700;
}

.inline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inline button {
  width: 35%;
  margin: 0;
  font-size: 15px;
}

.submit {
  display: inline-block;
  width: 100%;
  height: 44px;
  margin-top: 12px;
  font-size: 16px;
}
