.wrapper {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0;
}

.container {
  width: 75%;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.profileRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile {
  padding: 0 24px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background: var(--bg-surface);
  margin-bottom: 18px;

  img {
    width: 100%;
    height: 100%;
  }
}

.profile h3 {
  margin: 8px 0;
  font-size: 24px;
}

.profile p {
  margin: 0;
  color: var(--text-sub);
}

.profileActions {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tabs {
  display: flex;
  margin: 8px;
  gap: 0px;
}

.tab {
  width: 50%;
  justify-content: center;
  padding: 4px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--outline);
  border-radius: 0;
  color: var(--text-main);
  font-weight: 700;
}

.tab:hover {
  background-color: var(--bg-surface);
}

.tabActive {
  border-color: var(--highlight-color);
  color: var(--highlight-color);
}

.list {
  display: grid;
  gap: 16px;
}
