.join-wrapper {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 32px;
  }
}

.join-container {
  width: 30%;

  form {
    display: flex;
    flex-direction: column;

    .profile-image-container {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;

      .profile-image-input {
        position: absolute !important;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
      }

      .profile-image-label {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background: #cfcfcf;
        display: grid;
        place-items: center;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        transition: filter 0.15s ease-in-out, transform 0.05s ease-in-out;
      }

      .profile-image-label::after {
        content: "+";
        font-weight: lighter;
        font-size: 48px;
      }

      .profile-image-label:hover {
        filter: brightness(0.95);
      }
      .profile-image-label:active {
        transform: scale(0.98);
      }

      .profile-image-label img {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .profile-image-label.has-image::after {
        content: "";
      }
      .profile-image-label.has-image img {
        display: block;
      }
    }

    label {
      font-weight: bold;
      margin-bottom: 8px;
    }

    input {
      margin-bottom: 20px;
      padding: 6px;
      border-radius: 8px;
      font-size: 16px;
      border: 1px solid black;
      outline: none;
    }

    button {
      margin-top: 12px;
      padding: 8px;
      background-color: rgb(170, 160, 230);
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: rgb(150, 140, 210);
      }
    }
  }
}

.login-container {
  margin-top: 16px;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }
}
