body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.login-wrapper {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 32px;
  }
}

.login-container {
  width: 25%;
  background-color: white;

  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 8px;
    }

    input {
      margin-bottom: 20px;
      padding: 6px;
      border-radius: 8px;
      font-size: 16px;
    }

    button {
      margin-top: 12px;
      padding: 8px;
      background-color: rgb(170, 160, 230);
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: rgb(150, 140, 210);
      }
    }
  }
}

.join-container {
  margin-top: 16px;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }
}
